<% fonts = ['Aclonica','Averia Serif Libre','Boogaloo','Candal','Cantora One','Capriola','Carter One','Chewy','Coda Caption','Comfortaa','Courgette','Creepster','Crete Round','Damion','Days One','Francois One','Fredoka One','Galindo','Gloria Hallelujah','Indie Flower','Irish Grover','Just Me Again Down Here','Leckerli One','Lobster Two','Londrina Solid','Love Ya Like A Sister','McLaren','Miniver','Piedra','Plaster','Poiret One','Quantico','Racing Sans One','Radley','Rammetto One','Revalia','Schoolbell','Smokum','Stint Ultra Condensed','Sue Ellen Francisco','Ubuntu Mono','Ultra','UnifrakturCook','Waiting for the Sunrise','Yesteryear'] %>
<ul id="webfonts">
  <h2><i></i> satır İÇİn bİr yazıtİpİ seçİnİz.</h2>
  <% fonts.each_with_index do |v,k| %>
    <li class="<%= v.parameterize %>">
      <a href="#<%= k+3 %>"><%= v %></a>
    </li>
  <% end %>
</ul>
<% content_for :head do %>
  <style type="text/css">
    <% fonts.each do |font| %>
      .<%= font.parameterize %> {font-family:'<%= font %>', serif;}
    <% end %>
  </style>
<% end %>
<% content_for :belgesonu do %>
<!--[if lte IE 8]>
	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	<script>
	<% fonts.map {|d| "#{d}::latin"}.in_groups_of(4, false) do |g| %>
		<%= "WebFont.load({google:{families: #{g.to_s}}});".html_safe %>
	<% end %>
	</script>
<![endif]-->
<!--[if (gt IE 8) | (!IE)]><!-->
	<script type="text/javascript">
         WebFontConfig = {
           google: { families: <%= fonts.map {|d| "#{d}::latin"}.to_s.html_safe %> },
          };
          (function() {
           var wf = document.createElement('script');
           wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
               '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
           wf.type = 'text/javascript';
           wf.async = 'true';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(wf, s);
          })();
      </script>
<!--<![endif]-->
<% end %>